

main{
    
    display: flex;
    flex-wrap: wrap;
}

.barra-navegation{
    background-color: #ffb9d5;
    padding: 2rem;
    width: 20%;
    height: 100%;
}

.barra-navegation h3 a{
    font-size: 18px;
    color: #ff0062;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
    text-decoration: none;
}

.barra-navegation ul{
    list-style: none;
}

.barra-navegation ul li:not(:last-child){
    margin-bottom: 10px;
}

.barra-navegation ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: rgb(49, 49, 49);
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition-delay: all 0.3s ease;
}

.barra-navegation ul li a:hover{
    color: #006f9b;
    padding-left: 10px;
}

.Foto{
    width: 100%;
    border-radius: 50%;
}

.Foto img{
    border-radius: 50%;
}

.Bitacora{
    width: 60%;
    padding: 5rem;
}

.Registro{
    align-items: center;
    text-align: center;
    padding: 1rem;
    margin: 2rem;
    background-color: #a79bad;
    border-radius: 1rem;
}

button{
    margin: 1rem;
    width: 30%;
    height: 2rem;
}