*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: sans-serif;
    background: black;
}
.form-register{
    width: 98%;
    max-width: 500px;
    margin: auto;
    background: gray;
    border-radius: 10px;
}
.form__titulo{
    background: rgba(240, 198, 122, 0.637);
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid black;
}
.contenedor-inputs{
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
input{
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid black;
}
.input-50{
    width: 48%;
}
.input-100{
    width: 100%;
}
.btn-enviar{
    background: rgba(240, 198, 122, 0.637);
    color: rgb(7, 7, 7);
    margin: auto;
    padding: 15px 30px;
}
.btn-enviar:active{
    transform: scale(1.1);
}